form{
  width: 500px;
  margin: 30px auto;
  text-align: center;
}

form input{
  margin-bottom: 5px;
}
form input [type='button']{
  margin-right: 10px;
}
h1{
  text-align:center ;
  font-size: 30px;
  color:#007bff;
  margin-bottom: 25px;
}
h5{
  text-align: center;
  color:#007bff;
  
}